<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/img/board.png">
    <title>Mural de actividades</title>

    <!-- A SER CAMBIADA A LOS ARCHIVOS EN LOCAL-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/mural.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar_and_cards.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <img src="/static/img/board.png">
            <a class="navbar-brand pt-2" href="#">
                <h4>Mural <span class="text-info">Salmo 91</h4></span>
            </a>
        </nav>
    </header>
    <main>

        <section class="activities mb-5">
            <div class="container" id="sidebar-and-cards-container">
                <div class="sidebar box_shadow">
                    <ul class="days-list">
                        <li data-day="Lunes">Lunes</li>
                        <li data-day="Martes">Martes</li>
                        <li data-day="Miercoles">Miercoles</li>
                        <li data-day="Jueves">Jueves</li>
                        <li data-day="Viernes">Viernes</li>
                        <li data-day="Sabado">Sabado</li>
                        <li data-day="Domingo">Domingo</li>
                    </ul>
                </div>

                <div class="days-cards-content box_shadow">
                    <div class="title pt-4 pb-2 mb-4" id="activity-title">
                        <h3>Eventos de la semana</h3>
                    </div>

                    <div class="cards">

                        {% for act_item in activities %}
                        <div class="card-item card-monday">
                            <div class="activity-title pt-4">
                                <h5>{{ act_item }}</h5>
                            </div>

                            <div class="card-body">
                                <p>
                                    {{ act_item }}
                                </p>
                            </div>

                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const activityTitle = document.getElementById('activity-title');
        const stickyOffset = activityTitle.offsetTop;

        window.addEventListener('scroll', () => {
            if (window.pageYOffset >= stickyOffset) {
                activityTitle.classList.add('fixed');
            }
            else {
                activityTitle.classList.remove('fixed');
            }
        });
    </script>
</body>

</html>