<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/img/board.png">
    <title>Mural de actividades</title>

    <!-- A SER CAMBIADA A LOS ARCHIVOS EN LOCAL-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/mural.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar_and_cards.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <img src="/static/img/board.png">
            <a class="navbar-brand pt-2" href="#">
                <h4>Mural <span class="text-info">Salmo 91</h4></span>
            </a>
        </nav>
    </header>
    <main>

        <section class="activities mb-5">

            <div class="container" id="sidebar-and-cards-container">
                <!-- Sidebar -->
                <div class="sidebar">
                    <ul class="days-list">
                        <li>Lunes</li>
                        <li>Martes</li>
                        <li>Miércoles</li>
                        <li>Jueves</li>
                        <li>Viernes</li>
                        <li>Sábado</li>
                        <li>Domingo</li>
                    </ul>
                </div>

                <div class="days-cards-content">
                    <!-- Aquí irían las cards de eventos -->
                </div>
            </div>

            <!-- Container old design-->
            <!--<div class="container mt-5 rounded">
                <div class="accordion shadow-lg" id="accordionExample">


                    <div class="card pt-3">
                        <div class="card-header pressed" id="headingEvents">
                            <h2 class="mb-0" class="text-center">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseEventsCards" aria-expanded="true"
                                    aria-controls="collapseEventsCards">
                                    Eventos de esta semana
                                </button>
                            </h2>
                        </div>

                        <div id="collapseEventsCards" class="collapse" aria-labelledby="headingEvents"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="infoCards weekly">

                                    {% for activity in activities_list %}
                                    <div class="card-item eventCard" id="{{ activity.day }}">
                                        <h4 class="eventTitle text-center pt-3 shadow-text" id="event-tile">
                                            {{ activity.title}}
                                        </h4>
                                        <p class="eventDescription shadow-text" id="event-description">
                                            {{ activity.description }}
                                        </p>
                                        <p class="eventTime shadow-text" id="event-time">
                                            {{ activity.day }}
                                        </p>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container old design-->
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>