html,
body {
    background-image: linear-gradient(to right top, #b3b7af, #a5b3a2, #93b199, #7bae94, #5eab93, #50ab96, #3dac99, #21ac9d, #29b1a0, #30b6a3, #37bba6, #3dc0a9);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: #18191a;
}

nav img {
    max-width: 55px;
    transform: rotate(8deg);
    padding: 8px;
    margin-top: -15px;
}

.shadow-text {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 5px 14px rgba(0, 0, 0, 0.1);
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.pressed {
    border: 0;
    outline: 0;
    cursor: pointer;
    border-bottom: 2px solid #d9d9d9;
    box-shadow: 0px 1px 2px #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pressed:active {
    box-shadow: 0px 4px 8px #333;
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
}

@media(width <768px) {
    nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
    }

    .navbar {
        display: inline-block;
    }
}

.card .infoCards .eventCard {
    background-color: #47bcd1;
    border-radius: 7%;
}