html,body{
  background-image: linear-gradient(to right top, #b3b7af, #a5b3a2, #93b199, #7bae94, #5eab93, #50ab96, #3dac99, #21ac9d, #29b1a0, #30b6a3, #37bba6, #3dc0a9);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
    background-color: #18191a;
}

nav img {
    max-width: 55px;
    transform: rotate(8deg);
    padding: 8px;
    margin-top: -15px;
}

.shadow-text {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 5px 14px rgba(0, 0, 0, 0.1);
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.pressed {
    border: 0;
    outline: 0;
    cursor: pointer;
    border-bottom: 2px solid #d9d9d9;
    box-shadow: 0px 1px 2px #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pressed:active {
    box-shadow: 0px 4px 8px #333;
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
}

.card-shadow {
    -webkit-box-shadow: -6px 6px 25px -1px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -6px 6px 25px -1px rgba(0, 0, 0, 0.29);
    box-shadow: -6px 6px 25px -1px rgba(0, 0, 0, 0.29);
}

.card h2>.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    text-decoration: none;
    color: #000;
}

.card .card-item {
    margin: 8px;
    flex: 0 0 auto;
    flex-direction: column;
    width: 260px;
    height: 200px;
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    border: 0.1px solid #b8b1b1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .card-body {
    overflow: hidden;
}

.card .infoCards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

@media(width <768px) {
    nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
    }

    .navbar {
        display: inline-block;
    }

    .card {
        margin-bottom: 12px;
        border-radius: 5%;
        box-shadow: -4px 2px 31px -9px rgba(0, 0, 0, 0.58);
        text-align: center;
        -webkit-box-shadow: -4px 2px 31px -9px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: -4px 2px 31px -9px rgba(0, 0, 0, 0.58);
    }

    .card .infoCards {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .card .card-item {
        margin-top: 10px;
        margin-right: 10px;
    }

    .title {
        text-shadow: -1px 4px 7px rgba(0, 0, 0, 0.9);
    }
}

.card .infoCards .eventCard {
    background-color: #47bcd1;
    border-radius: 7%;
}

/* .card .infoCards .tuesdayCard {
    background-color: #946124;
    border-radius: 7%;
}

.card .infoCards .wednesdayCard {
    background-color: #de5220;
    border-radius: 7%;
}

.card .infoCards .thursdayCard {
    background-color: #005f68;
    border-radius: 7%;
}

.card .infoCards .fridayCard {
    background-color: #0fb962;
    border-radius: 7%;
}

.card .infoCards .saturdayCard {
    background-color: #f2ac81;
    border-radius: 7%;
}

.card .infoCards .sundayCard {
    background-color: #d8b915;
    border-radius: 7%;
} */