.box_shadow {
    box-shadow: -4px 23px 93px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: -4px 23px 93px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -4px 23px 93px 1px rgba(0, 0, 0, 0.33);
}

#sidebar-and-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}

.sidebar {
    background: rgba(16, 165, 225, 0.8);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    border-radius: 20px 0px 0px 20px;
    color: #fff;
    width: 125px;
    height: auto;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 51.5%;
}

.sidebar ul li {
    padding: 23.5px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar ul li:hover {
    background-color: #d6a03d;
}

/* Main content */
.days-cards-content {
    margin-left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 0px 20px 20px 0px;
    height: auto;
    overflow-x: auto;
    padding: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.days-cards-content .title {
    text-align: left;
    padding-left: 18px;
    -webkit-box-shadow: -1px 9px 9px -8px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -1px 9px 9px -8px rgba(0, 0, 0, 0.11);
    box-shadow: -1px 9px 9px -8px rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid darkgray;
}

.days-cards-content .title h3 {
    font-family: sans-serif;
}

/*Cards*/
.card-shadow {
    -webkit-box-shadow: -6px 6px 25px -1px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -6px 6px 25px -1px rgba(0, 0, 0, 0.29);
    box-shadow: -6px 6px 25px -1px rgba(0, 0, 0, 0.29);
}

.cards {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 225px;
    height: 205px;
    border-radius: 5%;
    -webkit-box-shadow: -1px 28px 36px -15px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -1px 28px 36px -15px rgba(0, 0, 0, 0.18);
    box-shadow: -1px 28px 36px -15px rgba(0, 0, 0, 0.18);
}

.card-Monday {
    background-image: linear-gradient(to left top, #d1c89d, #dbd288, #e2d67c, #cfc861, #d4d077);
    border: 0.8px solid #e5c62d;
}

.card-Tuesday {
    background-image: linear-gradient(to right top, #676044, #696140, #6b613b, #6d6237, #6f6232, #716432, #726533, #746733, #756a39, #776c3e, #786f44, #7a7149);
    color: #fff;
}

.card-Wednesday {
    background-image: linear-gradient(to right top, #eea453, #eda354, #eca156, #eaa057, #e99f58, #eaa059, #eba15a, #eca25b, #f0a55c, #f4a95d, #f7ac5e, #fbb05f);
    color: #fff;
}

.card-Thursday {
    background-image: linear-gradient(to right top, #051937, #003e67, #00667c, #008d68, #34ae2f);
}

.card-Friday {
    background-image: linear-gradient(to right top, #0caa57, #01a860, #00a668, #02a36f, #0ea175, #14a178, #1aa17c, #20a17f, #21a481, #23a683, #24a986, #25ac88);
    color: #FFF;
}

.card-Saturday {
    background-image: linear-gradient(to right top, #bb99ac, #bb99b6, #b79bc1, #af9dcd, #a1a1d9, #93abe6, #80b5f1, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.card-Sunday {
    background-image: linear-gradient(to right top, #206599, #1b6699, #176798, #126898, #0c6997, #126b9b, #186d9f, #1d6fa3, #2d73ad, #3c76b6, #4c79be, #5c7cc6);
    color: #FFF;
}

/*End cards*/

/* Estilos responsivos para móviles y tablets */

@media (min-width:769px) and (max-width:992px) {
    header {
        display: none;
    }

    #sidebar-and-cards-container {
        margin-top: 10%;
    }
}


@media (min-width: 401px) and (max-width: 768px) {

    header {
        display: none;
    }

    #sidebar-and-cards-container {
        margin-top: 15%;
    }

    .sidebar {
        height: 84vh;
        width: 85px;
    }

    .days-cards-content .title {
        text-align: center;
    }

    .days-cards-content {
        height: 84vh;
    }

    .days-cards-content,
    .sidebar {
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .sidebar ul {
        margin-top: 18%;
    }

    .sidebar ul li {
        padding: 37px 9px;
    }
}

@media(min-width: 300px) and (max-width:400px) {
    header {
        display: none;
    }

    .sidebar {
        height: auto;
        width: 85px;
    }

    .days-cards-content .title {
        text-align: center;
    }

    .days-cards-content {
        height: auto;
    }

    .sidebar ul {
        margin-top: 18%;
    }

    .sidebar ul li {
        padding: 37px 9px;
    }
}