*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav a{
    padding-left:10px;
}

html, body{
    height: 100%;
    background-color: #cfe0e0;
    background-image: url("church.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Negro con 70% de opacidad */
    height: auto;
}

.table{
    z-index: 1;
}